body {
    background-color: beige;
    nav{
        ul{
            li{
                display:inline-block;
            }
        }
    }
    .button-example{
        button{
            
        }
        p{
            display: none;
        }
        .visible{
            display: block;
        }
    }
}